@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Grand.Web.Models.Customer;
<div class="page password-recovery-page">
    <div class="row justify-content-center">
        <div class="col-8">
    <div class="card mb-3 justify-content-center">
        <h2 class="generalTitle my-auto text-center  passwordrecoverytitle  marginbelow40">Reset Password</h2>
        @if (!String.IsNullOrEmpty(Model.Result))
        {
        <div class="result">
            @*<div class="result card bg-info p-3 text-white">@Model.Result</div>*@
            <div class="purplewindow windowtextcenter text-white">@Model.Result</div>
        </div>
        }
        @if (!Model.DisablePasswordChanging)
        {

            

                             <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-email="@Context.Request.Query["email"]" method="post">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>

                        
                            <div class="row justify-content-center">
                                <label asp-for="NewPassword" class="col-form-label labelfontcolor  col-5 my-auto">@T("Account.PasswordRecovery.NewPassword"):</label>
                            </div>
                            <div class="row justify-content-center">
                                <input asp-for="NewPassword" class="form-control newinput col-5" />
                            </div>
                            <div class="row justify-content-center">
                                <span asp-validation-for="NewPassword" class="col-5"></span>
                            </div>
                            <div class="row justify-content-center">
                                <label asp-for="ConfirmNewPassword" class="col-form-label col-5 labelfontcolor my-auto">@T("Account.PasswordRecovery.ConfirmNewPassword"):</label>
                            </div>
                            <div class="row justify-content-center">
                                <input asp-for="ConfirmNewPassword" class="form-control newinput col-5"/>
                            </div>
                            <div class="row justify-content-center">
                                <span asp-validation-for="ConfirmNewPassword" class="col-5"></span>
                            </div>
                        


                        <div class="row justify-content-center ">
                                @*text-xs-center btn-group-sm my-3*@
                                <input type="submit" name="set-password" class="btn PayButton col-5 recoverpassmargin" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                        </div>

                        @*<div class="row">
                <div class="col-12 text-xs-center btn-group-sm my-3">
                    <input type="submit" name="set-password" class="btn btn-secondary new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" /> inputs 
                </div>
            </div>*@



                    </form>



                    }
                
</div>
        </div>
    </div>
</div>
