@{
    //page title
    ViewBag.Title = T("Loyal").Text;
}
@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-users"></i>
                    @T("Admin.PointWallet.PointWallet.Fields.PointWalletSummary")
                </div>
                
            </div>
            <div class="portlet-body form">
                <div id="tag-grid"></div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#tag-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "PointWalletSummary"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
            {
                field: "Reward_Name",
                title: "@T("Admin.PointWallet.PointWallet.Fields.Reward_Name")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" }
            }, {
                field: "LoyaltyPointUsed",
                title: "@T("Admin.PointWallet.PointWallet.Fields.LoyaltyPointUsed")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" }
            },  {
                    field: "Point_Wallet_ID",
                title: "@T("Admin.PointWallet.PointWallet.Fields.Point_Wallet_ID")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" }
            },  {
                    field: "CreateTime",
                title: "@T("Admin.PointWallet.PointWallet.Fields.CreateTime")",
                    width: 100,
                    type: "Date",
                    format: "{0:G}",
                headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    //template: '# if(Activate) {# <i class="fa fa-check" aria-hidden="true" style="color:green"></i> #} else {# <i class="fa fa-times" aria-hidden="true" style="color:red"></i> #} #'
            }]
        });
    });
</script>
