@{
    //page title
    ViewBag.Title = T("Loyal").Text;
}
@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-users"></i>
                    @T("Admin.PointWallet.PointWallet.Fields.EditGiftDetails")
                </div>
                

                <div class="actions">
                    <a href="@Url.Action("RewardPointAdjustment")" class="btn green"><i class="fa fa-plus"></i><span class="hidden-xs"> @T("Admin.Common.RewardPointAdjustment") </span></a>
                </div>

            </div>
            <div class="portlet-body form">
                <div id="tag-grid"></div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#tag-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "PointWallet"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "LoyaltyPointEarn",
                title: "@T("Admin.PointWallet.PointWallet.Fields.LoyaltyPointEarn")",
                width: 300
            }, {
                    field: "LoyaltyPointUsed",
                title: "@T("Admin.PointWallet.PointWallet.Fields.LoyaltyPointUsed")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" }
            },  {
                    field: "Activate",
                title: "@T("Admin.PointWallet.PointWallet.Fields.Activate")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" }
            },  {

                field: "CustomerEmail",
                title: "@T("Admin.Orders.Fields.Customer")",
                width: 220,
                template: '<a class="k-link" href="@Url.Content("~/Admin/Customer/Edit/")#=Customer_ID#">#=Customer_Full_Name# (#=Customer_Email#)</a>'
            }, {
                field: "Order_Status",
                title: "@T("Admin.Orders.Fields.OrderStatus")",
                width: 120,
                template: '<a class="k-link" href="@Url.Content("~/Admin/Order/Edit/")#=Order_ID#">#=Order_Status#</a>'
            }, {
                    field: "Description",
                title: "@T("Admin.PointWallet.PointWallet.Fields.Description")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    //template: '# if(Activate) {# <i class="fa fa-check" aria-hidden="true" style="color:green"></i> #} else {# <i class="fa fa-times" aria-hidden="true" style="color:red"></i> #} #'
            }, {
                    field: "CreateTime",
                title: "@T("Admin.PointWallet.PointWallet.Fields.CreateTime")",
                    width: 100,
                    type: "Date",
                    format: "{0:G}",
                headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    //template: '# if(Activate) {# <i class="fa fa-check" aria-hidden="true" style="color:green"></i> #} else {# <i class="fa fa-times" aria-hidden="true" style="color:red"></i> #} #'
            }, {
                    field: "ExpiredTime",
                title: "@T("Admin.PointWallet.PointWallet.Fields.ExpiredTime")",
                    width: 100,
                    type: "Date",
                    format: "{0:G}",
                headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    //template: '# if(Activate) {# <i class="fa fa-check" aria-hidden="true" style="color:green"></i> #} else {# <i class="fa fa-times" aria-hidden="true" style="color:red"></i> #} #'
            }]
        });
    });
</script>
