@{
    //page title
    ViewBag.Title = T("Loyal").Text;
}
@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-users"></i>
                    @T("Admin.Tag.Tag.EditGiftGroupingDetails")
                </div>

            </div>
            <div class="portlet-body form">
                <div id="tag-grid"></div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#tag-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "LoyaltyGiftRewardSummary"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Gift_Name",
                title: "@T("Admin.GiftName.GiftName.Fields.Gift_Name")",
                width: 300
            }, {
                    field: "Gift_Description",
                title: "@T("Admin.Gift_Description.Gift_Description.Fields.Gift_Description")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" }
            },  {
                    field: "RedemptTime",
                title: "@T("Admin.RedemptTime.RedemptTime.Fields.RedemptTime")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" }
            }, {
                    field: "Customer_ID",
                title: "@T("Admin.Customer_ID.Customer_ID.Fields.Customer_ID")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" }
            }
            ]
        });
    });
</script>
