@{
    //page title
    ViewBag.Title = T("Loyal").Text;
}
@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-users"></i>
                    @T("Admin.PointSetting.PointSetting.Fields.EditGiftDetails")
                </div>
                <div class="actions">
                    <a href="@Url.Action("Create")" class="btn green"><i class="fa fa-plus"></i><span class="hidden-xs"> @T("Admin.Common.AddNew") </span></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div id="tag-grid"></div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#tag-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "PointSetting"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "RuleName",
                title: "@T("Admin.PointSetting.PointSetting.Fields.RuleName")",
                width: 300
            }, {
                    field: "RuleDescription",
                title: "@T("Admin.PointSetting.PointSetting.Fields.RuleDescription")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" }
            },{
                field: "Times",
                title: "@T("Admin.PointSetting.PointSetting.Fields.Times")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" }
            },{
                    field: "StartDate",
                title: "@T("Admin.PointSetting.PointSetting.Fields.StartDate")",
                    width: 100,
                    type: "Date",
                    format: "{0:G}",
                headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" }
            },{
                    field: "EndDate",
                title: "@T("Admin.PointSetting.PointSetting.Fields.EndDate")",
                    width: 100,
                    type: "Date",
                    format: "{0:G}",
                headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" }
                },
            {
                    field: "Activate",
                title: "@T("Admin.PointSetting.PointSetting.Fields.Activate")",
                    width: 100,
                type: "Activate",
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                template: '# if(Activate) {# <i class="fa fa-check" aria-hidden="true" style="color:green"></i> #} else {# <i class="fa fa-times" aria-hidden="true" style="color:red"></i> #} #'
            },    {
                field: "Id",
                title: "@T("Admin.Common.Edit")",
                width: 50,
                template: '<a class="btn btn-sm btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i> @T("Admin.Common.Edit")</a>'
            }]
        });
    });
</script>
