@model Grand.Web.Areas.Admin.Models.Reward.RewardModel

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<div class="container">
    <div class="row">
        <div class="card col-10 h-10 totalpoint">Rewards</div>
        <div class="card col-2 h-10">My Vouchers</div>
    </div>
    <div class="row h-5"></div>
    <div class="row">
        <div class="container col-2">
            @Html.Partial("SideBar")
        </div>

        <div class="container col-10 ">
            <div class="card text-center">
                <img src=@Model.Reward_Picture.Url class="card-img img-responsive center-block">

                <p class="card-text">@Model.Reward_Name</p>
                <p class="card-text">Redemption valid from @Model.StartTime to @Model.ExpiredTime</p>
                <p class="card-text">@Model.Point points</p>
                <a class="btn btn-primary" id="Redeem">Redeem</a>
                <p class="card-text text-left .col-sm-10">Hightlights</p>
                <p class="card-text">@Model.Highlights</p>
                <p class="card-text text-left .col-sm-10">Terms & Conditions </p>
                <p class="card-text">@Model.Term</p>
                <p class="card-text text-left .col-sm-10">Contact Info </p>
                <p class="card-text ">@Model.Contact</p>
                <p class="card-text text-left .col-sm-10">About Us</p>
                <p class="card-text ">@Model.About</p>
            </div>

        </div>
    </div>
</div>

<script>
    $.ajax({
        cache: false,
        type: "POST",
        url: "@(Url.Action("PurchaseVoucher", "Reward"))",

        success: function (data) {
            if (data.error != null) {
                alert(data.error);
            }

            $("#Redeem").attr("href", "/Reward/PurchaseVoucherConfirm/@Model.Id");
 
        },
        error: function (xhr) {
            console.log(xhr);
            alert(xhr.responseJSON.Errors);
        }
    });
</script>
